body{
    margin:0;
    padding:0;
    font-family: Arial, sans-serif;
    background: url("assets/bg.gif");
    background-size: cover;
    background-attachment: fixed;
}

/* soft pink overlay */
body::before{
    content:"";
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(255,192,203,0.3);
    z-index:-1;
}

.container{
    text-align:center;
    padding:30px;
}

h1{
    color:#b30000;
    text-shadow:2px 2px white;
}

.intro{
    font-size:20px;
    margin:15px;
}

.photo{
    width:250px;
    border-radius:15px;
    box-shadow:0 0 15px #ff4d4d;
}

.main-gif{
    width:200px;
    margin:20px;
}

.buttons a{
    display:inline-block;
    text-decoration:none;
    background:#ff4d4d;
    color:white;
    padding:12px 20px;
    margin:10px;
    border-radius:25px;
    transition:0.3s;
}

.buttons a:hover{
    background:#b30000;
    transform:scale(1.1);
}

.back{
    display:inline-block;
    margin-top:20px;
    color:white;
    text-decoration:none;
    background:#ff4d4d;
    padding:10px 18px;
    border-radius:20px;
}

.letter{
    background:white;
    padding:20px;
    border-radius:15px;
    max-width:500px;
    margin:auto;
    box-shadow:0 0 10px pink;
    font-size:18px;
}

/* PASSWORD */

input{
    padding:10px;
    border-radius:10px;
    border:none;
    width:200px;
    text-align:center;
}

button{
    padding:10px 20px;
    border:none;
    border-radius:20px;
    background:#ff4d4d;
    color:white;
    cursor:pointer;
}

button:hover{
    background:#b30000;
    transform:scale(1.1);
}
